.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: whitesmoke;
    justify-content: center;
}

.login__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login__header img {
    width: 300px;
    padding: 15px;
}

.login__header h1 {
    color: #D64646;
    border-radius: 8px;
    border-style: dotted;
    font-size: 2em;
    padding: 15px;
}

.login__input {
    border: 2px solid lightgrey;
    background-color: whitesmoke;
    border-radius: 8px;
    color: black;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.login__button {
    background-color: #4FE073;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
}

.login__button:disabled {
    background-color: gainsboro;
    color:gray;
    font-weight: lighter;
    cursor: auto;
}